body{
    /* font-size: 20px; */
    text-align: justify;
    font-family: khmer os battambang;
}
/* ul li{color: red;
    list-style-type: disc;} */
/* li::before {content: "•"; color: red}; */
ul li a:hover{
    text-decoration: none;
}
.line_height2{
    line-height: 2;
}
.width100{
    width: 100%;
}
.width90{
    width: 90%;
}
.pl0{
    padding-left: 0px;
}
.mt-0{
    margin-top:0px; 
}

.ml-10{
    margin-left: 10px;
}

@media (max-width: 767px)
{
.left-menu {
    /* overflow: scroll; */
    height: calc(100vh - 85px); 
}
}
.left-menu{
    width: 24%;
    position: fixed;
     /* overflow-y: scroll; */
    top: 120px;
    bottom: 0;
    padding-right: 10px;
}
.left-menu ul{
    list-style: none;
}
.left-menu ul a{
    text-decoration: none;
}
.left-menu ul a li{
    width: 100%;
    padding: 20px;
    color: black;
    padding-left: 30px;
    /* border-bottom: 1px double #c1e1ec; */
    font-weight: 500;
    background-color: #e8f4f8;
}
.left-menu ul a li:hover{
    /* background-color: #f2f2f2; */
    border-bottom: 3px groove #E8F4F8;
    font-weight: 700;
    text-shadow: -1px 1px  1px  #acccd6;
}

.indent{
    text-indent: 45px;
}
.sub-left-menu ul a{
    width: 100%;
}
.sub-left-menu ul a li {
    color: black;
    padding: 10px;
    padding-left: 20px; 
    background-color: inherit;
    border-bottom: 1px double #c1e1ec;
}
.sub-left-menu ul a:hover{
    border-bottom: 1px double #fed367;
    text-shadow: -1px 1px  1px  #ffe9b3;
    color: #FED367;
}
.sub-left-menu ul a:before {
    content: "\2605";
    float: left;
    padding-top: 10px;
    animation:myfirst 5s;
    -moz-animation:co_lor 5s infinite; /* Firefox */
    -webkit-animation:co_lor 5s infinite; /* Safari and Chrome */
}
.sub-left-menu ul a:first-child {
    padding-top: -15px;
  }
@media only screen and (max-width: 1024px){
    .left-menu{
        display: none;
    }
    .hide-left-menu{
        display: none;
    }
    .line_height2{
        margin: auto;
    }
}
@media only screen and (max-width: 765px){
    .left-menu{
        display: none;
    }
    .hide-left-menu{
        display: none;
    }
    .line_height2{
        margin: 0 20px 0 20px;
    }
}
.change_style_color_ininfinite  li {
    color: black;
    list-style-type: none;
}

.change_style_color_ininfinite  li:before {
    float: left;
    margin: 0 0 0 -1.5em;
    width: 1em;
    content: '\2713';
    animation:myfirst 5s;
    -moz-animation:co_lor 5s infinite; /* Firefox */
    -webkit-animation:co_lor 5s infinite; /* Safari and Chrome */
}
@-moz-keyframes co_lor /* Firefox */ {
    100% {color:#72bcd4;}
    70% {color:#add8e6;}
    50% {color:#e8f4f8;}
    30% {color:#c1e1ec;}
    0% {color:#86c5da;}
}

@-webkit-keyframes co_lor /* Safari and Chrome */ {
    100% {color:#72bcd4;}
    70% {color:#add8e6;}
    50% {color:#e8f4f8;}
    30% {color:#c1e1ec;}
    0% {color:#86c5da;}
}
.change_style_color_ininfinite p{
    color: black;
}
/* .change_color_ininfinite li span{
    color: black;
}
.stope_color_ininfinite::before{
    content: "•"; color: red
}
.change_color_ininfinite {
    content: "•"; 
    color:#72bcd4;;
    background-image: -webkit-linear-gradient(92deg,  #72bcd4, #5bdaf0);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-animation: hue 1s infinite linear; */
    /* font-weight: 700; */
/* } */
/* @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(180deg);
    } */
/* }  */
.width50{
    width: 50%;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.w10{
    width: 10px;
}
.h70{
    height: 70px;
}
.mt30{
    margin-top: 30px;
}
.mr30{
    margin-right: 30px;
}
.change_bg_infinite{
    float: left;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
}
.mr0{
    margin-right: 0px;
}
@-moz-keyframes myfirst /* Firefox */ {
    0% {background:#72bcd4;}
    30% {background:#e6add8;}
    50% {background:#d8e6ad;}
    70% {background:#ade6bb;}
    100% {background:#86c5da;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
    0% {background:#72bcd4;}
    30% {background:#add8e6;}
    50% {background:#e8f4f8;}
    70% {background:#c1e1ec;}
    100% {background:#86c5da;}
}
.mt45{
    margin-top: 50px;
}
.mt40{
    margin-top: 40px;
}
.c_lightblue{
    color: #53adcb;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #add8e6;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    background: #9fcbda; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #86c5da; 
} 
a:hover{
    text-decoration: none;
}