@font-face {
font-family: khmerosbatt;
src: url("KhmerOSbattambang.ttf");

}

@font-face{
	font-family: tacteng;
	src:url("TACTENG.TTF");
}

.kh-bat{
	font-family: khmerosbatt;
}
.tact{
	font-family: tacteng;
	font-size: 70px;
	margin: auto;
	padding-bottom: 10px;

}
.opacity-07{
	opacity: 0.8;
    filter: alpha(opacity=80);
}
.menubar{
	font-family: khmerosbatt;
	font-size: 17px;
}

.float-right{
	float: right !important;

}
.float-center{
	float: center !important;
}

.font-size-50{
	font-size: 50px;
}
.font-size-30{
	font-size: 30px !important;
}
.font-size-20{
	font-size: 20px !important;
}


.font-size-18{
	font-size: 18px;
}
.font-size-15{
	font-size: 15px;
}
.font-size-10{
	font-size: 10px;
}
.color-gold{
	color: #ffdb4d;
}
.color-green{
	color: green !important;
}

.color-white{
	color: white !important;
}
.color-maroon{
	color: maroon !important;
}
.color-red{
	color: red !important;
}
.color-black{
	color:black;
}

.font-bold{
	font-weight: bold;
}
.footer1{
	margin: auto;
	padding-top: 10px;
	background-color: #221E1F;
	height: 600px;
}
.footer1-content{
	padding-top: 5px;
}

.footer{
	color: #727272;
	background-color:#171415; 
	height:80px;
	font-family: khmerosbatt;
	margin: auto;

}
.footer-content{
	padding-top: 35px;
}
.link-gold, .link-gold:visited {
	color: #717171;
	text-decoration: none !important;
	padding-right: 20px;
}
.link-gold:hover{
	color: #ffdb4d;
	text-decoration: none;
}
.link-gold-gray, .link-gold-gray:visited{
	color: #ffdb4d;
	text-decoration: none !important;
}
.link-gold-gray:hover{
	color: #c6b629;
	text-decoration: none 
}


.text-content{
	padding-top:  40px;
}

.containers {
    position: relative;
    width: 210px;
    margin-right: 10px;
}

.image {
  	opacity: 1;
  	display: inline-block;
  	height: auto;
  	transition: 1s ease;
  	backface-visibility: hidden;
  	background-size: cover;
  	height: 210px;
  	width: 210px;
  	border-color: white;
  	border-style: solid;
  	border-radius: 50%;
  	border-style: solid;
  	border-width: 3px;
  	border-color: #ddddd9;
  	margin-bottom: 30px;
  	margin-left: 15px;
}

.middle {
	width: 210px;
  	transition: 1s ease;
  	opacity: 0;
  	position: absolute;
  	top: 35%;
  	left: 60%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.containers:hover .image {
  opacity: 0.7;
}

.containers:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
}

.small-dot-logo{
	height: 35px;
  	width: 35px;
  	border-color: white;
  	border-style: solid;
  	border-radius: 50%;
  	margin-right: 5px;
  	margin-bottom: 30px;
  	border-color: #ddddd9;
}
.small-dot-logo:hover{
	opacity: 0.7;
}
.top-button{
	width: 45px;
	height: 45px;
	background-color:#FDC229;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
	display: block;

}
.center {
    margin: auto;
    width: 50%;
    float: center;
    padding: 10px;
}
.img-thum{
	width: 350px;
	height: 300px;
	margin-bottom: 20px;
	margin-left: 40px;
}

.butn, .butn:visited{
	
	width: 100px;
	height: 30px;
	background-color: #ffdb4d;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none !important;
	color: #000;
	transition: 0.75s;
}
.butn:hover{
	
	background:rgba(207,181,59);
	text-decoration: none;
	color: #000;
	transition: 0.75s;
	
}

.text-container{
	width: 210px;
	height: 210px;
	background-color: green;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-container:hover{
	opacity: 0;
}

.centered {
    position: absolute;
    top: 75%;
    left: 54%;
    transform: translate(-80%, -50%);
    
    width: 160px;
}
.ss{
	position: relative;
    text-align: center;
    color: white;
}
.ss:hover{
	opacity: 1;
}
.centered:hover{
	opacity: 1;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
    text-align: center;
    border: 1px solid #ddd;
}